

/* ALL THE PAGES */


header, body{
    font-family: sans-serif;
    background-color: whitesmoke; 
    
}

h5 {
    font-family: sans-serif;
    font: rgb(140, 91, 64);

}

#logo1 {
    font-family: 'Caveat', cursive;
    margin-top: 25px;
    color: #2E1805;
    margin-left: 45px;
}
#logo2 {
    font-family: 'Caveat', cursive;
    color:rgb(140, 91, 64);
    margin-left: 55px;
    margin-top: -20px;
    
}

.profile_pic{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.nav-link {
    color:  rgb(45, 38, 32);
    font-family: sans-serif;
}
    
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    border-radius: 5%;
    background: whitesmoke;
}
  
input[type=text]:focus, input[type=password]:focus {
    background-color: whitesmoke;
    border-radius: 5%;
    outline: none;
}

/* HOMEPAGE */
/* @media screen and (min-width: 800px) { */
#background_pic{
    float: right;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 95%;
}

.custom-shape-divider-bottom-1663810320 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1663810320 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 268px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1663810320 .shape-fill {
    fill: #2E1805;
}
.flex-container {
    background-color: #ffffff;
    opacity: 0.5;  
    float: center;
    position: absolute;
    height: 600px;  
    width: 300px;  
    bottom: 0;
    right: 70%;
    left: 30%;
    border-radius: 5;
}
.flex-container-hover {
    opacity: 1.0;  
}

.container-fluid{
    background-color: white;

}

  
#login-btn{
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    width: 50%;
    
    }
    
#login-btn:hover {
opacity: 1;
}




/* see all sitters page*/

.card-img-top {
    max-width: 100%;
    border-radius: 75%;
    border: solid;
    border-width: 0.5px;
    align-content: start;
    font-family: sans-serif;
    font: #2E1805;
}

      
.container {
    width: 400px;
    background: white;
    align-content: center; 
    padding: 15px;
    margin: 5px 0 22px 0;
    border-radius: 5%;
}

.card{
    border: none;
    background: white;
    padding: 15px;
    margin: 5px 0 22px 0;
    border-radius: 5px;
    align-content: center; 

}

.container.card-center {
    align-content: center; 
    font-family: sans-serif;
    font: #2E1805;
}

.card center {
    border: none;
    background: white;
    padding: 15px;
    margin: 5px 0 22px 0;
    border-radius: 5%;
    align-content: center; 
    font-family: sans-serif;
    font: #2E1805;

}
.card-title {
    align-content: center; 
    font-family: sans-serif;
    font: #2E1805; 

}