

/* ALL THE PAGES */



header, body {
    font-family: 'Montserrat';
    background-color: #f5f5f5; 
    color: #2E1805;
    font-size: 1rem;
    /* text-align: justify;
    text-justify: auto; */

}

p {
    text-align: justify;
    text-justify: auto;
}


a {
    text-decoration: none;
    color: white;
}


.requirement {
    color: gray;
}

#logo1 {
    font-family: 'Caveat', cursive;
    margin-top: 5%;
    color: #2E1805;
    margin-left: 5%;
    font-size: 8rem;
    overflow:hidden;
    position: relative;
}
#logo2 {
    font-family: 'Caveat', cursive;
    color: #AB6800;
    margin-left: 3%;
    margin-top: -2%;
    overflow: visible;
    
}

.profile_pic{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.nav-link {
    color:   #2E1805;
    font-family: "Montserrat";
    font-size: 1.1rem;
    background-color: white;
    
}
    

.custom-shape-divider-top-1663867673 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
   
}

.custom-shape-divider-top-1663867673 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    overflow: hidden;
    height: 161px;
    z-index: -1;
    /* position:relative; */
}

.custom-shape-divider-top-1663867673 .shape-fill {
    fill: #FFFFFF;
    opacity: 0.8;
}
  
input[type=text], select, input[type=description], input[type=file], input[type=date], input[type=tel], input[type=numeric], input[type=file], input[type=email], input[type=password], input[type=time], textarea[id=summary], #selected_state {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    background: #f1f1f1;
    
}

select:invalid, input:invalid, input:invalid + span::after {
    border: 2px solid red;
  }
  
input[type=number] {
    width: 100%;
    height: 50%;
    padding: auto;
    margin: auto;
    display: inline-block;
    border-radius: auto;
    background: #f1f1f1;
}

#password-login, #email-login, #start_date1,  #start_time1{
    border: solid lightgray;
    border-radius: auto;
}



/* HOMEPAGE */


.homepage {
    display: grid;  
    grid-template-columns: 35% 28% 37%;

}

.homepage > div > img {  
    width: 100%;  
    height: 85%;  
    padding: 2% white;
    object-fit: cover;  
}

.homepage > .container-login {
    background: white;
    padding: 15%;
    border: solid lightgray;
    border-radius: auto;
    margin-bottom: 20%;
    opacity: 0.8; 
    width: 100%;  
    height: 85%;  
}

.submit-btns {
    justify-content: center;

}

.submit-btns > span > button{
    display: inline;
    background-color: #AB6800;
    border: rgb(191, 114, 42);
    color: #2E1805;
    padding: 2% 10% 2% 10%;;
    border-radius: 5em;
    cursor: pointer;
}
    
.submit-btns > a {
    background-color: #AB6800;
    border: rgb(191, 114, 42);
    color: #2E1805;
    padding: 3% 10% 3% 10%;
    border-radius: 5em;
    cursor: pointer;

}

.submit-btns > a:hover, .submit-btns > span > button:hover{
    color: white;   
    opacity: 0.8;
}

.container-homepage, .nav-center {
    background-color: white;
    position: relative;
    top:0;
    right: 0;
    bottom: auto;
    width: 100%;
    color:   #2E1805;
    font-family: "Montserrat";
    font-size: 1.1rem;
}


.dropdown-item:hover, .nav-center a:hover {
    background-color: #FFFFFF;
    color:rgb(191, 114, 42);
}

/* see all sitters page*/

.card-img-top {
    max-width: 100%;
    border-radius: 75%;
    border: solid;
    border-width: 0.5px;
    align-content: start;
    color:   #2E1805;
    font-family: "Montserrat";
    font-size: 1.1rem;
}
      
.container{
    width: 400px;
    background: white;
    align-content: center; 
    background-color: whitesmoke;
    padding: 15px;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 15px;
    border-color: lightgrey;
    color:   #2E1805;
    font-family: "Montserrat";
    font-size: 1.1rem;

}

.container.card-center {
    align-content: center; 
    font-family: 'Montserrat';
    font: #2E1805;
}

.card center {
    border: none;
    background: white;
    padding: 15px;
    margin: 5px 0 22px 0;
    border-radius: 5%;
    align-content: center; 
    font-family: 'Montserrat';
    font: #2E1805;

}

.card-title {
    align-content: center; 
    font-family: 'Montserrat';
    font: #2E1805; 

}

/* SIGN UP */

#sign-up, #dogs-page, #login, #profile-greet, #pet-owner-signup, #sitter-signup, .search-title, .card-title, .booking-title, #new_booking, #add-dog-greet, .title{

    font-family: 'Montserrat';
    color: rgb(140, 91, 64);
    text-align: center;
    
    
}

.booking-greeting{
    text-align: center;
    font-family: 'Montserrat';
    color: rgb(140, 91, 64);
    background: white;
    background-color: whitesmoke;
    margin-top: auto;
    position: relative; left:60%; top: -10%;
    
}

#delete-button {
    text-align: center;

}

.rounded-circle, #prof-pic {
    width: 210px;
    height: 210px;
    border-radius: auto;
    margin-bottom: 20px;
    margin-left: 30%;
    background-image: url('usericon.jpg');
    background-size: contain;
    border: solid lightgrey;
    text-align: center;
    position: relative;
    float: center;

}

#top-img {
    box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.5);
    position: absolute;
    float: top;
    display: block;
    margin-left: 700px;
    margin-right: 20px;
    bottom: 100%;
    top: -110px;
    width: 400px;
    height:400px;
    border-radius: 0%;
}


/* MY CALENDAR */

#my_calendar{
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;;
    text-align: center;

}

.calendar_title{
    font-family: 'Montserrat';
    background-color: whitesmoke; 
    color: rgb(140, 91, 64);
    text-align: center;
}

/* PROFILE PAGE */

.container-profile{

    background: white;
    background-color: whitesmoke;
    padding: 10px;
    margin: auto;
    border-radius: 1%;
    border-color: solid lightgrey;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 40%;
}

.card-title{
    text-align: center;
}

.btn-btn-outline-secondary{
    display: inline-block;
    color: gray;
    border-radius: 5%;
    border: solid;
    border-color: gray;
}

/* BOOKINGS */

#container-bookings{
    width: 18rem;
    align-content: center; 
    background-color: whitesmoke;
    padding: 15px;
    margin-left: 300px;
    border-radius: 15px;
    border-color: lightgrey;
    color:   #2E1805;
    font-family: "Montserrat";
    font-size: 1.2rem;

}

.important {
    color:red
}

.list-group-item {
    color:#2E1805;
}

/* ADD DOG */

 #dog-pic {
    width: 200px;
    height: 200px;
    border-radius: 75%;
    margin-left: 20%;
    margin-right: 10%;
    margin-bottom: 10%;
    background-image: url('dog_profile.png');
    background-size: contain;
    border: solid lightgrey;
  
}

.round_small_pic {
    width: 200px;
    height: 200px;
    margin-left: 19%;
    border-radius: 75%;
    background-image: url('dog_profile.jpg');
    background-size: cover;
    border: solid lightgrey;
    position: relative;
    
}

.columns {
    display: flex;
    margin: 5rem auto;
    width: min(90%, 75rem);
    gap: 1em;
}

 .card-container {
    position: relative;
    background-image: url(pexels-blue-bird-7210535.jpg);
    background-position: contain;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    opacity: 0.8;
 }   

 .card {
    background: white;
    background-color: whitesmoke;
    width: 20%;
    padding: 15px;
    border: solid lightgray;
    border-radius: 5%;
    margin: 30px 15px 15px 30px;
    border-radius: 5px;
    align-content: center; 
    
}

.copyrights {
    font-family: 'Montserrat';
    color: rgb(140, 91, 64);
    text-align: center;
}
