{% extends 'base.html' %}

{% block body %}

  <h1>My dogs</h1>

  <ul>
    {% for pet in pets %}
      
        <div class="card-group" style="width: 18rem;">
          <div class="card" >
                <img class="card-img-top" src="{{pet["pic"] }}" >
                <div class="card-body">
            <li>
              <h5>My name is <strong>{{ pet["name"] }}</strong></h5>
              <p>I'm a {{pet["size"]}} {{ pet["breed"] }} and I'm {{ pet["age"] }} years old.</p>
            </li>
          </div>
        </div>
    {% endfor %}
  </ul>
  <div class="container">                                                
    <button  class="btn btn-outline-secondary" onclick="history.back()">Previous </button>          
    <a class="btn btn-outline-secondary" aria-current="page" href="/user_dashboard/{{user.user_id}}" role="button">Homepage</a> 
    <a class="btn btn-outline-secondary" aria-current="page" href="/logout">Logout</a>
</div>
{%endblock body%}%