{% extends 'base.html' %}
{% block body %}
    {% if 'user_email' in session %}
    <div>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" role="button"  onclick="history.back()">Previous </a>          
              </li>
              <li>                                            
                <a class="nav-link" aria-current="page" href="/user_dashboard/{{user.user_id}}" role="button">Homepage</a> 
              </li>
              <li>
                <a class="nav-link" aria-current="page" role="button" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </nav>
      </div> 
      <ul>    
    
        <div>
        {%if sitter_bookings or pet_owner_bookings%}
            <h5 id = "booking_greeting"> These are all your bookings, {{ user.fname }}: </h5>

            {%if sitter_bookings %}
            
                {% for booking in sitter_bkngs %}
                <div class="card-deck" >
                  <div class="card" style="width: 20rem;">
                      <div>
                        <h5 class = "booking-title"> As a sitter:</h5>
                      </div>
                        <img class="rounded" src="{{booking['dog_pic']}}" >
                        <div class="card-body">  
                                                    
                            <h6 class="card-title">Hi, my name is<p><strong>{{booking['dog_name']}}!</strong></h6>
                            <p class="justify-content-between"> I'm a {{booking['age']}}yo {{booking['breed']}}, and about {{booking['size']}} in size. I have an appointment with you on the following date, time and address:</p>
                            <h6><strong>Date and time:</strong> {{booking['time']}}</h6>
                            <h6><strong>Address:</strong> {{booking['address']}} </h6>
                            <p> Can't wait to see you!</p>
                          
                        </div>
                    </div>
                  </div>
                {%endfor%}
            {%endif%}

            {%if pet_owner_bookings %}
                {% for booking in owner_bkngs %}
                  <div class="card-deck" >
                    <div class="card" style="width: 20rem;">
                      <div>
                        <h5> As a Pet Owner:</h5>
                      </div>
                        <img class="round_small_pic" src="{{booking['sitter_pic']}}" >
                        <div class="card-body">
                          <h6 class="card-title">Booking with: {{booking['sitter_name']}}</h6>
                            <p> This sitter has:{{booking['experience']}} years of experience</p>
                            <p> summary:{{booking['experience']}}</p>
                            <p> For:{{booking['dog_name']}}</p>
                            <p> Date and time<strong> {{booking['date']}}</strong</div>
                        </div>
                    </div>
                  </div>
                {% endfor %}
            {%endif%}
        {%else%}    
            <a class="btn btn-outline-secondary" aria-current="page" href="/create_booking/{{user.user_id}}">Create new booking</a>
        {%endif%}
    </div>
    {%endif%}
{%endblock body%}%