{% extends 'base.html' %}

{% block title %}Calendar{% endblock title%}

{% block body %}
<div class="md-calendar-booking">
    <div class="mbsc-form-group">
        <div class="mbsc-form-group-title">Single date & appointment booking</div>
        <div id="demo-booking-single"></div>
    </div>
    <div class="mbsc-form-group">
        <div class="mbsc-form-group-title">Select date & time</div>
        <div id="demo-booking-datetime" class="booking-datetime"></div>
    </div>
    <div class="mbsc-form-group">
        <div class="mbsc-form-group-title">Booking multiple appointments</div>
        <div id="demo-booking-multiple"></div>
    </div>
</div>




{% endblock body %}