{% extends 'base.html' %}

{% block title %}Calendar{% endblock title%}

{% block body %}
    {% if 'user_email' in session%}
        <div>
            <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" role="button"  onclick="history.back()">Previous </a>          
                </li>
                <li>                                            
                    <a class="nav-link" aria-current="page" href="/user_dashboard/{{user.user_id}}" role="button">Homepage</a> 
                </li>
                <li>
                    <a class="nav-link" aria-current="page" role="button" href="/logout">Logout</a>
                </li>
                </ul>
            </div>
            </nav>
        </div> 
        <h5 class="calendar_title"> This is your current calendar </h5>
        <div id="my_calendar">
            <iframe src="https://calendar.google.com/calendar/embed?src={{calendar_id}}%40gmail.com&ctz=America%2FLos_Angeles" style="border:solid 1px #2E1805" width="600" height="400" frameborder="0" scrolling="yes"></iframe>
        </div> 
    {% endif%}
{% endblock body %}