{% extends 'base.html' %}
{% block header %}


{%endblock%}
{% block body %}

  
    
    <div class="container-homepage">
      <nav class="navbar justify-content-start">
        <ul class="nav justify-content-start">
        </ul>
      </nav>
    </div> 
    <div class="homepage">
      <div >
        <img src='static/cover_pic.jpg' >
        <span> Photos by <span><a class="copyrights" href="https://unsplash.com/@mnelson?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Matt Nelson</a> on <a class="copyrights" href="https://unsplash.com/s/photos/dog-walker?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>

      </div> 
      <div class="container-login">
          <h4 id="login">Sign In</h4>
          <form action="/login" method="POST">
              <div >
                  <label for="email-login">Email</label>
                  <input type="email" name="email" id="email-login" placeholder ="user@user.com">
              </div>
              <div>
                <label for="password-login">Password</label>
                <input type="password" name="password" id="password-login">
                <input type="checkbox" onclick="myFunction()"> Show Password
              </div>
              <div class="submit-btns">
                <span>
                  <button type="submit"  name="login" id="login-btn" value="Login">Sign In</button>
                </span>
                <a role="button" id="signup-btn" aria-current="page" href="/signup">Sign Up</a> 
              </div>
          </form>
      </div>
      <div >
        <img src="static/cover_pic.jpg">
      </div> 
    </div>
  <script>
    function myFunction() {
      var showPassword = document.getElementById("password-login");
      if (showPassword.type === "password") {
      showPassword.type = "text";
      } else {
      showPassword.type = "password";
      }
    }
  </script>
{% endblock %}
