{% extends 'base.html' %}
{% block header %}


{%endblock%}
{% block body %}

<div class="hpcontainer">
  <img id="background_pic" src="static/matt-nelson-aI3EBLvcyu4-unsplash copy.jpg">
</div>
  <div>

    <div class="container-homepage" style="width: 65rem;">
      <nav class="navbar justify-content-start">
        <ul class="nav justify-content-start">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="https://www.cdc.gov/healthypets/pets/dogs.html/Resources">Resources</a>
          </li>
        </ul>
      </nav>
    </div>  
    <div class="container-login">
      <section class="form-control mr-sm-2">
          <h4 id="login">Sign In</h4>
        <form action="/login" method="POST">
            <div >
                <label for="email">Email</label>
                <input type="email" name="email" id="email_login" placeholder ="user@user.com">
            </div>
            <div>
              <label for="password">Password</label>
              <input type="password" name="password" id="password_login">
            </div>
              <div class="submit-login" >
                <button type="submit" class="rounded-pill" name="login" id="login-btn" value="Login">Sign In</button>
                <a class="rounded-pill" role="button" aria-current="page" href="/signup">Sign Up</a> 
          </form>
        
        </form>
      </section>
    </div>
  </div>
{% endblock %}
