{% extends 'base.html' %}
{% block header %}


{%endblock%}
{% block body %}


  <div class="overlay">
    <div class="custom-shape-divider-bottom-1664014398">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
      </svg>
  </div>
    <div class="container-homepage" style="width: 100rem;">
      <nav class="navbar justify-content-start">
        <ul class="nav justify-content-start">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="https://www.cdc.gov/healthypets/pets/dogs.html/Resources">Resources</a>
          </li>
        </ul>
      </nav>
      <div class="hpcontainer">
        <img id="background_pic" src="static/matt-nelson-aI3EBLvcyu4-unsplash copy.jpg">
      </div>
    </div>  
    <div class="container-login">
      <section class="form-control mr-sm-2">
          <h4 id="login">Sign In</h4>
        <form action="/login" method="POST">
            <div >
                <label for="email">Email</label>
                <input type="email" name="email" id="email_login" placeholder ="user@user.com">
            </div>
            <div>
              <label for="password">Password</label>
              <input type="password" name="password" id="password_login">
            </div>
              <div class="submit-login" >
                <button type="submit" class="rounded-pill" name="login" id="login-btn" value="Login">Sign In</button>
                <a class="rounded-pill" role="button" aria-current="page" href="/signup">Sign Up</a> 
          </form>
        
        </form>
      </section>
     
    </div>

  </div>
{% endblock %}
