{% extends 'base.html' %}

{% block title %}Are you ready to book a sitter?{% endblock title%}

{% block body %}


<div class="new-booking">
    <section>
        <div class="container">
            <form action="/create_booking/{{pet_owner.id}}" method="POST">
                <div class="form-group">
                    </div>
                        <label for="start_date" >Date</label>
                        <input type="date" name="start_date" id="start_date" min="2022-08-25" step="1" required pattern="\d{4}-\d{2}-\d{2}" >
                    <div class="form-group">
                        <label for="start_time">Please select a start time for your dog's walk</label>
                        <p><small> Each walk is 30 min<small></p>
                        <input type="time" min="06:00" step="1800" max="23:00" name="start_time" id="start_time" value="00:00" required>
                    </div>
                    </div>
                
                <div> 
                    <select id="pet_id" name="pet_id" required>
                        <option value="">Which of your dog(s) is this walk for?</option>
                        {% for pet in pets %}
                            <option name = "pet_id" value="{{pet.pet_id}}">{{pet.name}}</option>
                        {% endfor %}
                    </select>  
                </div>

                <div>   
                    <select id="sitter_id" name="sitter_id" required>
                        {% if  sitter %}
                            <option name="sitter_id" value="{{sitter.id}}" selected>{{sitter.user.fname}}  {{sitter.user.lname}}</option>
                           
                                <iframe src="https://calendar.google.com/calendar/embed?src={{sitter_calendar_id}}%40gmail.com&ctz=America%2FLos_Angeles" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                            
            
                        {%else%}
                        <option selected>Which sitter would you like to book the walk with?</option>
                            {% for sitter in sitters %}
                                <option name = "sitter_id" value="{{sitter.id}}" required>{{sitter.user.fname}}  {{sitter.user.lname}}</option>
                            {% endfor %}
                        {%endif%}
                    </select>   
                </div>
                <div>
                    <label for="address">Pick up Address</label>
                    <input type="text" name="address" value="{{user.address}}"id="address" autocomplete="address">
                </div>
                <div>
                    <label for="description">Description</label>
                    <input type="description" name="description" value="description"id="description" placeholder="This is optional.Add here any additional info you'd like to share">
                </div>
                <form>
                    <button>Confirm booking</button>
                </form>
            </form>
        </div>
        <button  class="btn btn-outline-secondary" onclick="history.back()">Back to previous page </button>
    </section>
</div>


{%endblock%}