
{% extends 'base.html' %}

{% block title %}Create an Account{% endblock title%}

{% block body %}
    {% if 'user_email' in session%}

        <h2>Hello {{user.fname}}!</h2>
        <h5>Pet Owner Sign Up</h>
        <form action = "/petowner_signup/{{user.user_id}}" method="POST" >
            <div class="form-group">
                <label for="num_pets">How many dogs do you have?</label>
                <input type="number" min=0 name="num_pets" id="num_pets" placeholder="1, 2, 3..." required>
            </div>
            <button type="submit" class="btn btn-outline-secondary"> Confirm </button>
        </form>
        <button  class="btn btn-outline-secondary" onclick="history.back()">Previous </button>  
        <a class="btn btn-outline-secondary" aria-current="page" href="{{ url_for("get_booking_form", user_id= user.user_id) }}" role="button">Create New Booking</a>
        <a class="btn btn-outline-secondary" aria-current="page" href="/sitters/{{user.user_id}}" role="button">Find Sitters</a>          
        <a class="btn btn-outline-secondary" aria-current="page" href="/user_dashboard/{{user.user_id}}" role="button">Homepage</a> 
    {%else%}
    
    <a class="btn btn-outline-secondary" aria-current="page" href="/homepage" role="button">Login</a>          

    {%endif%}
         
{% endblock body %}