
{% extends 'base.html' %}

{% block title %}Create an Account{% endblock title%}

{% block body %}
  {% if 'user_email' in session%}
      <div class="container-homepage">
        <nav class="navbar justify-content-start">
          <ul class="nav justify-content-start">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" role="button"  onclick="history.back()">Previous </a>          
            </li>
            <li>                                            
              <a class="nav-link" aria-current="page" href="/user_dashboard/{{user.user_id}}" role="button">Homepage</a> 
            </li>
            <li>
              <a class="nav-link"aria-current="page" href="/sitters/{{user.user_id}}" role="button">Find Sitters</a>          
            </li>
            <li>
              <a class="nav-link" aria-current="page" href="{{ url_for("get_booking_form", user_id= user.user_id) }}" role="button">Create New Booking</a>
            <li>
              <a class="nav-link" aria-current="page" role="button" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class = "card-container">
        <div class="container">
          <div class="form-control mr-sm-2">
            <h4 id="pet-owner-signup">Pet Owner Sign Up</h4>
            <form action = "/petowner_signup/{{user.user_id}}" method="POST" >
                <div class="form-group">
                    <label for="num_pets">How many dogs do you have?</label>
                    <input type="number" min="0" name="num_pets" id="num_pets" placeholder="1, 2, 3..." required>
                </div>
                <button type="submit" class="btn btn-outline-secondary"> Confirm </button>
            </form>
          </div>
        </div>
      <div>
  {%else%}
    
    <a class="btn btn-outline-secondary" aria-current="page" href="/homepage" role="button">Login</a>          

  {%endif%}

         
{% endblock body %}