
{% extends 'base.html' %}

{% block title %}Create an Account{% endblock title%}

{% block body %}
    <h2>Hello {{fname}}, {{email}}</h2>
    <h2>Finish up your account to start booking</h2>

    <section>
        <form action = "/petowner_signup/{{user_id}}" method="POST" >
            <div class="form-group">
                <label for="num_pets">How many dogs do you have?</label>
                    <input type="number" min=0 name="num_pets" id="num_pets" placeholder="1, 2, 3...">
                    <button type="submit" class="btn"> Confirm </button>
            </div>
        </form>
    </section>
   
       
{% endblock body %}