
{% extends 'base.html' %}

{% block title %}Create an Account{% endblock title%}

{% block body %}
    <h2>Create an Account</h2>
    <div class="signup">
        <section>
            <div class="container">
                <form action="/signup" method="POST" method = "POST" enctype = "multipart/form-data">
                    <div class="form-group">
                        <label for="fname2">First Name</label>
                        <input type="text" name="fname" id="fname2">
                    </div>
                    <div class="form-group">
                        <label for="lname">Last Name</label>
                        <input type="text" name="lname" id="lname">
                    </div>
                    <div class="form-group">
                        <label for="dob" >Date of birth</label>
                        <input type="date" name="dob" id="dob">
                    </div>
                    <div class="form-group">
                        <label for="email" >Email</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <div class="form-group">
                        <label for="mobile" class="form-label">Mobile</label>
                        <input type="text" name="mobile" id="mobile">
                    </div>
                    <div class="form-group">
                        <label for="address" >Address</label>
                        <input type="text"  name="address" id="address" placeholder="1234 Main St, number ">
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" name="city" id="city">
                    </div>
                    <div class="form-group">
                        <select id="state" name="state">
                            <option selected>State</option>
                            {% for state in states %}
                                <option name = "state_selected" value="{{state}}" required>{{state}}</option>
                            {% endfor %}
                        </select>  
                    </div>
                    <div class="form-group">
                        <label for="zip_code" class="form-labe2">Zip Code</label>
                        <input type="text" name="zip_code" id="zip_code">
                    </div>         
                    <div class="form-group">
                        <label class="profilepic" for="profilepic">Profile Picture</label>
                        <img src="static/profile_pic1.jpg" alt="..." class="img-thumbnail">
                        <input id="profilepic" type="file" name="profilepic" placeholder="Profile Picture" required>
                    </div>                                          
                    <form>
                        <button type="submit">Sign up</button>
                    </form>
                </form>
            </div>
        </section>
    </div>
{% endblock body %} -->