{% extends 'base.html' %}
{% block title %}{{ sitter.user.fname}} {{sitter.user.lname}} - Profile{% endblock %}

{% block body %}

  {% if session.get('user_email') %}
    <h3> Hi {{session['user_email']}} </h3>
    </h2>{{ sitter.user.fname}} {{sitter.user.lname}}</h1>

      <p>
        {%if profile_pic%}
        <img class="rounded-circle" src="{{profile_pic}}" alt="profile image">
        {%else%}
        <img src="https://res.cloudinary.com/dggbnnudv/image/upload/v1662615978/VowVow/dog-763058__340_hb5nde.jpg" alt="profile image" class="img-thumbnail">
        <div>I have {{ sitter.years_of_experience}} years of experience </div>
        {%endif %}
      <p> {{sitter.summary}}</p>

    <div> Rates: My rates start at ${{sitter.rate}}</div>
    <div> Minimum lenght of walk required for booking: 30 min</div>
    <a href="/new_booking/{{user.user_id}}">Book a walk with me</a> 
    <br> 


  {% endif %}

<img src="{{ sitter.user.profile_pic}}">
{% endblock %}
