
{% extends 'base.html' %}

{% block title %}Create an Account{% endblock title%}

{% block body %}
    <h1>Create an Account</h1>
    <!-- <div class="signup step1"> -->
        <section>
            <div class="container">
                <form action="/sitter-signup" method="POST">
                    <div class="sitter signup step1">
                        <div class="form-group">
                            <label for="fname1">First Name</label>
                            <input type="text" name="fname1" id="fname1">
                        </div>
                        <div class="form-group">
                            <label for="lname1">Last Name</label>
                            <input type="text" name="lname1" id="lname1">
                        </div>
                        <div class="form-group">
                            <label for="email1" >Email</label>
                            <input type="email" name="email1" id="email1">
                        </div>
                        <div class="form-group">
                            <label for="password1" class="form-label">Password</label>
                            <input type="password" name="password" id="password1">
                        </div>
                        <div class="form-group">
                            <label for="zipcode1" class="form-label">Zip</label>
                            <input type="text" name="zipcode" id="zipcode1">
                        </div>
                        <div class="form-group">
                            <label for="address" >Address</label>
                            <input type="text"  name="adress1" id="address" placeholder="1234 Main St, number ">
                        </div>
                        <div class="form-group">
                            <label for="city1">City</label>
                        <input type="text" name="city1" id="city1">
                        </div>
                        <div class="form-group">
                            <label for="state1">State</label>
                            <input type="text" name="state1" id="state1" >
                        </div>
                        </div>
                        <div class="form-group">
                            <label for="zipcode1" class="form-label">Zip</label>
                            <input type="text" name="zipcode" id="zipcode1">
                        </div>
                            <button type="button" class="next-btn">Next</button>
                        </div>
                        <br>
                        <br>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                        </div>
                    </div>

                    <div class="sitter signup step2">
                        <div class="form-group">
                            <label for="experience">Years of Experience</label>
                            <input type="number" min=0 name="experience" id="experience" placeholder="Insert the number that represents how many years of experience you have">
                        </div>
                        <div class="form-group">
                            <label for="summary">Summary</label>
                            <input type="text" name="summary" id="summary" placeholder="Describe your experience">
                        </div>

                        <div>
                            <p>Please select your rate according to the lenght of the walk:</p> 
                            <div class="input-group mb-3">
                                <span class="input-group-text">30 min</span>
                                <span class="input-group-text">$</span>
                                <input type="number" min=0 step="0.25" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">45 min</span>
                                <span class="input-group-text">$</span>
                                <input type="number" min=0 step="0.25" class="form-control">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">60 min</span>
                                <span class="input-group-text">$</span>
                                <input type="number" min=0 step="0.25" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                    
                            </div>
                        </div>
                        <div>
                            <button type="button" class="previous-btn">Previous</button>
                            <button type="button" class="submit-btn" >Submit</button>
                        </div>
                    </div>

                    <div>
                        <label class="profile pic" for="profilepic1">Profile Picture</label>
                        <img src="" alt="..." class="img-thumbnail">
                        <input id="profilepic1" type="file" name="profile_pic" placeholder="Profile Picture" required="capture">
                    </div>
                </form>
            </div>

            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>

        </section>
        <script>
            // Add the following code if you want the name of the file appear on select
            $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
        </script>
</div>
  {% endblock body %}
