
{% extends 'base.html' %}

{% block title %}Finish to set up your profile{% endblock title%}

{% block body %}
<h1> Hello {{fname}}, {{email}}</h1>

<section>
        <form action = "/sitter_signup/{{user_id}}" method="POST" >
            <div class="form-group">
                <label for="experience">Years of Experience</label>
                <input type="number" min=0 name="years_of_experience" id="years_of_experience" placeholder="1, 2, 3...">
            </div>
            <div class="form-group">
                <label for="summary"> Describe your experience</label>
                <input type="text" name="summary" id="summary" placeholder="Optional">
            </div>
            <div class="form-group">
                <p>Please select your rate according to the lenght of the walk:</p>   
                <div class="input-group mb-3">
                    <span class="input-group-text">30 min</span>
                    <span class="input-group-text">$</span>
                    <input name="rate" type="number" min=0 step="0.25" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="submit">
            </div>
        </form>
</section>
      
{% endblock body %}
