
{% extends 'base.html' %}

{% block title %}Finish to set up your profile{% endblock title%}

{% block body %}
  {%if 'user_email' in session%}        
    <div class="container-homepage">
      <nav class="navbar justify-content-start">
        <ul class="nav justify-content-start">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" role="button"  onclick="history.back()">Previous </a>          
            </li>
            <li>                                            
              <a class="nav-link" aria-current="page" href="/user_dashboard/{{user.user_id}}" role="button">Homepage</a> 
            </li>
            <li>
              <a class="nav-link" aria-current="page" role="button" href="/logout">Logout</a>
            </li>
        </ul>
      </nav>
    </div> 
     
    <div class = "card-container">
      <div class="container">
        <div class="form-control mr-sm-2">
          <h4 id="sitter-signup"> {{user.fname}}!</h4>
            <form action = "/sitter_signup/{{user.user_id}}" method="POST" >
                <div class="form-group">
                    <label for="experience">Years of Experience</label>
                        <input type="number" min=0 name="experience" id="experience" placeholder="1, 2, 3..." required>
                </div>
                <div class="form-group">
                    <label for="summary">Summary</label>
                    <textarea type="text" name="summary" id="summary" placeholder="Optional"></textarea>
                </div>
                <div class="form-group">
                    <p>Please select your rate according to the lenght of the walk:</p>   
                    <div class="input-group mb-3">
                        <span class="input-group-text">30 min</span>
                        <span class="input-group-text">$</span>
                        <input name="rate" type="number" min=0 step="0.25" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" required>
                    </div>
                </div>
                <button class="btn btn-outline-secondary">Save Changes</button>
            </form>
        </div>
      </div>
    </div>
  {%else%}
    <a class="btn btn-outline-secondary" aria-current="page" href="/homepage" role="button">Login</a>  
  {%endif%}      
{% endblock body %}
